  <!-- breadcrumb-area start -->
  <div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Cart Page</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb cart-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" class="cart-table">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="plantmore-product-thumbnail">Images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="plantmore-product-price">Unit Price</th>
                                    <th class="plantmore-product-quantity">Quantity</th>
                                    <th class="plantmore-product-subtotal">Total</th>
                                    <th class="plantmore-product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of items">
                                    <td class="plantmore-product-thumbnail"><a href="#"><img src="assets/images/sanpham/sanpham/{{i.image_pro}}" alt="" style="width:100px;height:120px"></a></td>
                                    <td class="plantmore-product-name"><a href="#">{{i.name_pro}}</a></td>
                                    <td class="plantmore-product-price"><span class="amount">{{ i.unit_price |number }}</span></td>
                                    <td class="plantmore-product-quantity">
                                       <!--- <input type="number"min='1' [max]="i.quantity" #inp (change)="addQty(i,inp.value)" [value]="i.quantity" >-->
                                        <input type="number" class="input-text" min='1' [max]="i.quantity"title="Qty" #inp  name="qtybutton"  (change)="addQty(i,inp.value)" [value]="i.quantity_sale">
                                    </td>
                                    <td class="product-subtotal"><span class="amount">{{i.money |number}}</span></td>
                                    <td class="plantmore-product-remove"><a (click)="_cart.deleteItem(i.product_id)"><i class="fa fa-times"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="coupon-all">

                                <div class="coupon2">
                                    <input class="submit" name="update_cart" value="Update cart" type="submit">
                                    <a href="shop.html" class=" continue-btn">Continue Shopping</a>
                                </div>

                                <div class="coupon">
                                    <h3>Coupon</h3>
                                    <p>Enter your coupon code if you have one.</p>
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>$170.00</span></li>
                                    <li>Total <span>{{total |number}}</span></li>
                                </ul>
                                <a routerLink="/customer/checkout" class="proceed-checkout-btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->
